header {
    background: #eb9ebb;
    padding: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: auto;
    
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #76068d;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #f1e042;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: auto;
    padding: 50px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 32%;
    vertical-align: top;
    margin: 0.5%;
    padding: 13px 3px;
    box-sizing: border-box;
    border: 3px solid #f1e042;
    border-radius: 15px;
}

/*hover para alterar o comportamento da página quando o mouse estiver por cima*/
.produtos li:hover {
    border-color: #eebbce;
}

/*active muda o comportamento quando clica e segura com o botão esquerdo, quando ativa o elemento*/
.produtos li:active {
    border-color: #f142a2;
}

.produtos li:hover h2 {
    font-size: 32px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 6px;
    color: #2581cc;

}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: #2581cc;
}

footer {
    text-align: center;
    background: url("fundo.jpg");
    padding: 30px;

}

.copyright {
    color: #ffffff;
    font-size: 20px;
    margin: 40px;
}